@font-face {
  font-family: "Roslindale";
  src: url("/fonts/Roslindale-TextRegular-Testing.woff2") format("woff2"),
  url("/fonts/Roslindale-TextRegular-Testing.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Roslindale";
  src: url("/fonts/Roslindale-TextBold-Testing.woff2") format("woff2"),
  url("/fonts/Roslindale-TextBold-Testing.woff") format("woff");
  font-weight: 700;
}

:root {
  --color-red-main: #c50000;

  --slide-bg: #ffffff;
  --red-bg: #C40000;
  --gray-bg: #E9E9E9;

  --pie-chart-progress-fill: var(--color-red-main);
  --pie-chart-whole-fill: #e7e7e7;

  --text-main: var(--color-red-main);
  --text-secondary: #3f3f3f;

  --card-keyline: #c4c4c4;

  --font-main: "Roslindale";
  --font-secondary: 'Open Sans';
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-main);
  height: 100%;
}
body {
  /* propagate box-sizing */
  box-sizing: border-box;
  /* fallback for old browser */
  min-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.text-red {
  color: var(--color-red-main)!important;
}
